@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
/* styling the whole background */
* {
  margin: 0;
  padding: 0;
  background-size: to bottom;
  font-family: "Caveat", cursive;
}

/* styling the body section */
.body {
  background: url(../img/ali.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
